*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(190, 199, 245);
}
header{
    display: flex;
    justify-content: center;
    margin: 20px 0;
}
main h1{
    text-align: center;
    margin-bottom: 40px;
}
.article-list {
    /* display: flex; */
    flex-direction: column;
    gap: 20px;
}
.article-list a{
    text-decoration: none;
}
.article-item__wrapper {
    gap: 15px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 15px;
    margin: 0 20px;
}

.article-item__content {
    color: black;
}
footer{
    display: flex;
    justify-content: center;
    margin: 20px 0;
}